/* Reset some default styles */
html,
body {
  margin: 0;
  padding: 0;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  margin-top: 35px;
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header .logo {
  font-size: 24px;
}

header ul {
  list-style: none;
  display: flex;
}

header li {
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: black;
}

/* Hero section */
#hero {
  background-image: url("hero-option2.png");
  background-size: cover;
  color: #0e09096e;
  text-align: center;
  padding: 200px 0;
}

#hero h1 {
  font-size: 36px;
}

#hero p {
  font-size: 18px;
}

/* About section styles */
#about {
  padding: 40px 0;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

/* Portfolio section styles */
#portfolio {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.portfolio-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Contact section styles */
#contact {
  padding: 40px 0;
  text-align: center;
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
}

/* Button styles */
.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

/* Footer styles */
footer {
  background-color: #e2eca1ae;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

/* Responsive styles can be added here */
